* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.section-title {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center; 
}

/* .section-margins {
    margin: 6rem 5rem;
} */

section#hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('../images/misc/headerbg.png') no-repeat center center / cover;
}

@media (max-width: 480px) {
    .h1-text {
        font-size: 3rem !important;
    }
}

.h1-text {
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 800;
    padding: 1rem;
    font-size: 5rem;
    margin: 2rem 0;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}

/* SECTION STYLING */

section#preparations {
    display: flex;
    margin: 6rem 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.prep-img img{
    display: flex;
    max-width: 40rem;
    max-height: 40rem;
}

.prep-title {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.35rem;
    margin: 2rem 0;
}

.prep-text {
    padding-left: 2rem;
}

.prep-img {
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.prep-img2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    aspect-ratio: 1/1;
    margin-top: 1rem;
}

.prep-desc {
    padding-bottom: 2rem;
    font-family: var(--regular-font);
    text-align: left;
    max-width: 80rem;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.prep-btn {
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    section#farm-to-table {
        align-items: center;
        justify-content: center;
    }
    .prep-img {
        padding-bottom: 2rem;
    }

    .prep-img img {
        width: 20rem;
        height: auto;
    }
    .prep-desc {
        font-size: 1.25rem;
    }
    .prep-img img {
        width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    section#farm-to-table {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .prep-img {
        padding-bottom: 2rem;
        justify-content: start;
    }
    .prep-desc {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .prep-img img,.prep-img2 img {
        width: 12rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        justify-content:normal;
    }
    section#preparations {
        flex-direction: column;
    }
    .prep-title {
        font-size: 1.5rem;
    }
    
}