* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.section-title {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center; 
}

.section-margins {
    margin: 6rem 5rem;
}

section#hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('../images/misc/headerbg.png') no-repeat center center / cover;
}

@media screen and (max-width: 480px) {
    .h1-text {
        font-size: 3rem !important;
    }
}

.h1-text {
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 800;
    padding: 1rem;
    font-size: 5rem;
    margin: 2rem 0;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}

/* Calendar */

#calendar-container { 
    max-width: 900px; 
    margin: 2rem auto; 
    padding: 1rem; 
    background: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 

#calendar-container h2 { 
    font-size: 2rem; 
    margin-bottom: 1rem; 
    text-align: center; 
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.form-popup h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.form-popup form {
    display: flex;
    flex-direction: column;
}

.form-popup input,
.form-popup button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-family: var(--regular-font);
}

.form-popup button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.form-popup button:hover {
    background-color: var(--brown-dark);
}

/* Change the color of the navigation buttons */
#calendar .fc-button {
    background-color: var(--primary-color); 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-family: var(--regular-font);
    transition: all 0.3s ease-in-out;
}

/* Change hover effect */
#calendar .fc-button:hover {
    background-color: var(--brown-dark); 
    color: white;
    cursor: pointer;
}

/* Change the active state color */
#calendar .fc-button.fc-button-active {
    background-color: var(--secondary-color); 
    color: white;
}

/* Change disabled state */
#calendar .fc-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}