* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.section-title {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center; 
}

.section-margins {
    margin: 6rem 5rem;
}

section#hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('../images/misc/headerbg.png') no-repeat center center / cover;
}

@media screen and (max-width: 500px) {
    .h1-text {
        font-size: 3rem !important;
    }
}

.h1-text {
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 800;
    padding: 1rem;
    font-size: 5rem;
    margin: 2rem 0;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}


iframe {
    margin-top: 1rem;
    padding-top: 1rem;
}

.jSybTG {
    display: none !important;
}
